*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto','sans-serif;';
	box-sizing:border-box;
}
.container
{
	width: 100%;
	height :100vh;
	background-image : linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(web-farm-working-cow-x-2400.jpg);
	background-position: center;
	background-size: cover;
	overflow-y: scroll;
	box-sizing: border-box;
	

}
.navbar{
	padding: 20px;
	width : 100%;
	height: 12%;
	display: flex;
	align-items: center;
	position: fixed;
	background-color: rgba(0,0,0,0.2);
	padding-right: 40px;
}
.logo
{
	width: 70px;
	cursor: pointer;
}
nav
{
	flex: 1;
	text-align: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 20px ;
}
nav ul li a:hover{
	color: goldenrod;
}
.row
{
	
	display: flex;
	height: 88%;
	align-items: center;
}
.col{
	padding-right: 2%;
	padding-left: 2%;
	margin : 30px;
    flex-basis: 50%;
}

h1{
	color: #fff;
	font-size: 80px;
}
p{
	
	margin-top: 10px;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
}
.button{
	width: 180px;
	color :#000;
	font-size: 15px;
	padding: 12px 0px;
	background: #fff;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top: 30px;
	cursor: pointer;
}

.button1{
	width: 100px;
	color :#fff;
	font-size: 15px;
	padding: 12px 10px;
	background: rgb(109, 86, 53);
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-left: 40px;
	cursor: pointer;
}
.button1:hover{
	transform: translateY(-10px);
}
.card{
width: 400px;
height: 200px;	
display: inline-block;
border-radius: 10px;
padding: 15px 25px;
box-sizing: border-box;
/* cursor: pointer; */
margin: 25px 30px;

background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(336353869.jpg);
background-position: center;
background-size: cover;
transition: transform 0.5s;
}
.card2
{
	
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(depositphotos_290823840-stock-photo-different-types-of-delicious-cheese.jpg);
}
h2{
	color: beige;
	font-size: 20px;
	text-shadow: 0 0 5px #000;
}
p{
	text-shadow: 0 0 15px #000;
	font-size: 15px;
	margin-left: 15px;
}
h3{
	color: beige;
	font-size: 20px;
	text-shadow: 0 0 5px #000;
}
.card:hover
{
	transform: translateY(-10px);
}
header{
	color:beige;
	font-size: 50px;
}
header,form{
	min-height:20vh ;
	display: flex;
	justify-content: center;
	align-items: center;
}

form input ,form button {
	padding: 5px;
	margin-left: 20px;
	font-size: 2rem;
	border: none;
	background: white;
}
form button
{
	color: #000;
	background: white;
	cursor: pointer;
	transition: all 0.3s ease;

}
form button:hover{
	background: transparent;
	color : beige;
}
h4{
	font-size: 30px;
	color :ivory
	
}
h5{
	font-size: 30px;
	color :ivory
	
}
h6{
	color: beige;
	font-size: 20px;
	text-shadow: 0 0 5px #000;
}
.card3
{
	align-items: center;
	cursor:auto;
	width: 300;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(technicians-people-group-engineering-worker-construction_180264-20.jpg);
	background-size: cover;
	background-position: center;
}
h7{
	font-size: 35px;
	color: transparent;
}
p1{
	font-size: 25px;
	color: beige;
	padding-left: 40px;
	
	
}
p2{

	color: rgb(253, 253, 176);
	font-size:40px ;
	padding: 15px;
	
}
.myProgress {
    width: 80%;
    background-color: #ddd;
    border-radius: 10px;
    /* margin-left: 50px; */
    opacity: 90%;
	text-align: center;
	color: white;
  }






